.ajax-lock {
  position: relative;
}

.ajax-locked {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  background-color: $gray-lighter; /* IE8 Fallback */
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;

  > div {
    display: table;
    width: 100%;
    height: 100%;

    > div {
      display: table-cell;
      vertical-align: middle;
      color: $gray-dark;

      > img {
        margin-right: 0.5em;
      }
    }
  }
}
