.magnific-popup {
  position: relative;
  background: #fff;
  padding: 10px;
  width: auto;
  max-width: $max-width;

  @include breakpoint($screen-xs1) {
    padding: 44px;
    margin: 10px auto;
  }

  @include breakpoint($screen-sm) {
    margin: 3.5em auto; /* 56/16 */
  }

  > .content-wrapper > h1 {
    margin-top: 0;
  }

  .text {
    overflow-x: auto;
  }
}

.magnific-popup-map {
  position: relative;
  background: #fff;
  height: 100%;
}

.map-wrapper {
  .mfp-container {
    padding: gutter();
  }

  .mfp-content {
    height: 100%;
  }
}

.mfp-preloader {
  a {
    color: $brand-primary;
  }
}

.mfp-title {
  min-width: 18.75em; /* 300/16 */
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  .magnific-popup {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .magnific-popup {
      opacity: 1;
      transform: scale(1);
    }

    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .magnific-popup {
      transform: scale(0.8);
      opacity: 0;
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
}

/*

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  .magnific-popup {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.5s;
    transform: scale(0) rotate(500deg);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
  }

  /* animate in */
  &.mfp-ready {
    .magnific-popup {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }

    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .magnific-popup {
      transform: scale(0) rotate(500deg);
      opacity: 0;
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
}

/*

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  .magnific-popup {
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-50px);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s;
  }

  /* animate in */
  &.mfp-ready {
    .magnific-popup {
      opacity: 1;
      transform: translateX(0);
    }

    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .magnific-popup {
      transform: translateX(50px);
      opacity: 0;
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
}

/*

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  .mfp-content {
    vertical-align: top;
  }

  /* start state */
  .magnific-popup {
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(-100px);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.2s;
  }

  /* animate in */
  &.mfp-ready {
    .magnific-popup {
      opacity: 1;
      transform: translateY(0);
    }

    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .magnific-popup {
      transform: translateY(-50px);
      opacity: 0;
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
}

/*

====== 3d unfold ======

*/
.mfp-3d-unfold {
  .mfp-content {
    perspective: 2000px;
  }

  /* start state */
  .magnific-popup {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
  }

  /* animate in */
  &.mfp-ready {
    .magnific-popup {
      opacity: 1;
      transform: rotateY(0deg);
    }

    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .magnific-popup {
      transform: rotateY(60deg);
      opacity: 0;
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
}

/*

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  /* start state */
  .magnific-popup {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .magnific-popup {
      opacity: 1;
      transform: scale(1);
    }

    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .magnific-popup {
      transform: scale(1.3);
      opacity: 0;
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
}
