body.nav-open {
  #nav-wrapper {
    position: relative;

    > ul {
      display: block;
    }
  }
}

#nav-wrapper {
  background-color: $brand-primary;
  width: 100%;

  > ul {
    list-style-type: none;
    margin: 0;

    @include clearfix;

    display: none;
    z-index: $z-index-top - 1;
    position: absolute;
    background-color: darken($brand-primary, 5%);
    width: 100%;
    top: 100%;
    text-align: center;
    padding: 0;

    @include breakpoint($screen-lg1) {
      position: static;
      background-color: transparent;
      display: block;
      text-align: left;
    }

    > li {
      display: block;
      text-align: left;

      @include breakpoint($screen-xs2) {
        display: inline-block;
      }

      @include breakpoint($screen-lg1) {
        display: inline;
        float: left;
      }

      &.right {
        text-align: center;
        display: block;
        overflow: hidden;

        @include breakpoint($screen-xs2) {
          margin-bottom: 10px;
        }

        @include breakpoint($screen-lg1) {
          margin-bottom: 0;
          float: right;
        }

        > a {
          background-color: $accent-primary;
          padding: pxemfont(10px, 0.875em) pxemfont(20px, 0.875em);

          &:hover {
            background-color: darken($accent-primary, 10%);
          }

          img {
            padding-right: pxemfont(10px, 0.875em);
            vertical-align: top;
          }
        }

        > a#info-button {
          background-color: $accent-secondary;

          &:hover {
            background-color: darken($accent-secondary, 10%);
          }
        }
      }

      &.active {
        > a {
          background-color: darken($brand-primary, 10%);
        }
      }

      > a {
        color: #fff;
        padding: pxemfont(10px, 0.875em);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.875em; /* 14/16 */
        height: 44px;
        line-height: 22px;
        display: block;

        @include breakpoint($screen-xs2) {
          display: inline-block;
        }

        &:hover {
          text-decoration: none;
          background-color: darken($brand-primary, 10%);
        }
      }

      > .dropdown-menu {
        a {
          padding: pxemfont(5px, 0.875em) pxemfont(10px, 0.875em) pxemfont(5px, 0.875em) pxemfont(5px, 0.875em);
          text-transform: uppercase;
          font-size: 0.875em; /* 14/16 */
        }
      }

      > .slidedown-menu {
        position: static;

        @include breakpoint($screen-xs2) {
          position: absolute;
        }
      }
    }
  }
}
