.qtip {
    position: absolute;
    display: none;
    min-width: 280px;
    max-width: 960px;
    padding: 1px;
    background-color: #fff;
    border: 1px solid $gray-lighter;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

.qtip-content {
    position: relative;
    padding: 0.3125em 0.625em; /* 5/16 */ /* 10/16 */
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 400px;
}

.qtip-titlebar {
    position: relative;
    padding: 0.3125em 0.625em; /* 5/16 */ /* 10/16 */
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: $brand-secondary;
    color: #fff;
    border-bottom: 1px solid $gray-lighter;
    border-radius: 5px 5px 0 0;
}

.qtip .qtip-tip {
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}

x:-o-prefocus, .qtip .qtip-tip{
    visibility: hidden;
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas {
    position: absolute;
    color: #123456;
    background: transparent;
    border: 0 dashed transparent;
}

.qtip .qtip-tip canvas {
    top: 0;
    left: 0;
}

.qtip .qtip-tip .qtip-vml {
    behavior: url(#default#VML);
    display: inline-block;
    visibility: visible;
}
